body{
  margin: 0;
  background: #DDD;
  font-family: sans-serif;
}

iframe {
  float: left;
  height: 100vh;
}

#editorFrame {
  width: 80%;
}

#listFrame {
  width: 20%;
}

h1{
  text-align: center;
}

